@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse-glow {
  0%, 100% {
    box-shadow: 
      0 0 20px rgba(255, 140, 0, 0.4),
      0 0 40px rgba(255, 140, 0, 0.2),
      0 0 60px rgba(255, 140, 0, 0.1);
  }
  50% {
    box-shadow: 
      0 0 30px rgb(255, 183, 0),
      0 0 60px rgba(255, 187, 0, 0.705),
      0 0 90px rgba(255, 140, 0, 0.396);
  }
}

.animate-pulse-glow {
  animation: pulse-glow 5s ease-in-out infinite;
}


