@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse-glow {
  0%, 100% {
    box-shadow: 
      0 0 20px rgba(245, 222, 179, 0.541),
      0 0 40px rgba(245, 222, 179, 0.377),
      0 0 60px rgba(245, 222, 179, 0.068);
  }
  50% {
    box-shadow: 
      0 0 30px wheat,
      0 0 60px rgba(245, 222, 179, 0.808),
      0 0 90px rgba(245, 222, 179, 0.637);
  }
}

.animate-pulse-glow {
  animation: pulse-glow 5s ease-in-out infinite;
}

