
.about-page {
  position: relative;
  display: flex;
  align-items: flex-start;
  height: fit-content;
  margin-bottom: 20px;
  margin-left: 5vw;
}

.stream-line-l{
  position: absolute;
  left: 50px;
  top: 0;
  width: 8px;
  height: 100%;
  background: linear-gradient(to bottom, wheat, rgb(255, 193, 77));
  border-radius: 3px;
  animation: pulse 3s infinite ease-in-out;
}

.stream-line-r {
  position: absolute;
  right: 0;
  top: 0;
  width: 8px;
  height: 100%;
  background: linear-gradient(to bottom, wheat, rgb(255, 193, 77));
  border-radius: 3px;
  animation: pulse 3s infinite ease-in-out;
}

@keyframes pulse {
  0% { box-shadow: 0 0 5px wheat; }
  50% { box-shadow: 0 0 15px rgb(255, 193, 77); }
  100% { box-shadow: 0 0 5px rgb(228, 187, 110); }
}

.content-blocks {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: white;
}

.content-blocks p{
    width: 99%;
}

.content-blocks h2{
    color: wheat;
    font-weight: 600;
    font-size: 35px;
    margin: 10px 0;
    max-width: 400px;
}

.content-blocks h3{
      color: white;
    font-weight: 600;
    font-size: 20px;
}

.content-blocks .monash_logo{
  height: 300px;
  width: 300px;

}
.content-blocks .cardinia_logo{
  height: 300px;
  width: 300px;
  border-radius: 20px;

}