nav{
    width: 100%;
    /* background: #160049; */
    color: #ffffff;

    padding: 4px 0px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    height: fit-content;
}

.logo{
    width: 4%;
    border-radius: 12%;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}

nav ul li:nth-child(1) a:hover,
nav ul li:nth-child(2) a:hover {
    color: wheat;
    transition: 0.2s;
}

.dark-nav{
    background: rgba(8, 0, 58, 0.945);
    transition: 0.5s;
}

.bi.bi-list{
    display: none;
}


/*---- Media Query ----*/
@media (max-width: 1000px) {
    .logo{
        width: 20px;
    }
    nav ul li{
        margin: 10px 15px;
    }
}



@media (max-width: 840px) {
    nav{
        padding: 15px 0;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(8, 0, 58, 0.945);
        z-index: -1;
        width: 250px;
        padding-top: 50px;
        transition: 0.5s;
    box-shadow: 0 0 20px 2px wheat;

    }
    nav ul li{
        display: flex;
        justify-content: center;
        margin: 25px 40px;
        padding-bottom: 20px;
    }
    .bi.bi-list{
    display: block;
    cursor: pointer;
    }

    .hide-mobile-menu{
        right: -350px;
    }

}