.footer{
    background-color: rgba(8,0,58,0.7);
    width: 100%;
    height:20dvh;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    box-shadow: 0 0 20px 2px wheat;
}

.footer ul {
    display: flex;
    align-items: center;
}

.footer ul li{
    margin: 5px 20px;
    font-weight: 700;
    display: inline-block;
    margin-left: 20px;
}